composer.phar
composer.lock
.env.*
.env
.DS_Store
#windows
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
.project
.svn/
.git/
dump.rdb
target/
*.iml
config/*.mmdb
config/*.DAT
logs/
transaction-logs/
.settings
.classpath
.factorypath
