target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
composer.phar
composer.lock
.env.*
.DS_Store
#windows
Thumbs.db
ehthumbs.db
Desktop.ini
.svn/
.git/
dump.rdb
deploy.sh
vendor/
apps/
data/
logs/