/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
composer.phar
composer.lock
.env.*
.DS_Store
#windows
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
.project
.svn/
.git/
dump.rdb
deploy.sh
vendor/
target/
apps/
logs/
*.iml